.imagenDetailProducto {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-right: 5px;
}

.divDetailItem{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.divDetailItem * {
    margin: auto;
    margin-bottom: 8px;
}

.cartelCompra{
    margin-top: 15px;
    padding: 5px;
    background-color: antiquewhite;
    font-weight: bold;

}